<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.fsyj.timeaxis.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="site.fsyj.timeaxis.entity.User">
    <!--@mbg.generated-->
    <!--@Table t_user-->
    <id column="id" property="id" />
    <result column="email" property="email" />
    <result column="password" property="password" />
    <result column="name" property="name" />
    <result column="no" property="no" />
    <result column="major" property="major" />
    <result column="sex" property="sex" />
    <result column="avatar" property="avatar" />
    <result column="enable" property="enable" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, email, `password`, `name`, `no`, major, sex, avatar, `enable`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_user
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from t_user
    where id = #{id}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="site.fsyj.timeaxis.entity.User" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_user (email, `password`, `name`, `no`, major, sex, avatar, `enable`
      )
    values (#{email}, #{password}, #{name}, #{no}, #{major}, #{sex}, #{avatar}, #{enable}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="site.fsyj.timeaxis.entity.User" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="email != null">
        email,
      </if>
      <if test="password != null">
        `password`,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="no != null">
        `no`,
      </if>
      <if test="major != null">
        major,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="enable != null">
        `enable`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="email != null">
        #{email},
      </if>
      <if test="password != null">
        #{password},
      </if>
      <if test="name != null">
        #{name},
      </if>
      <if test="no != null">
        #{no},
      </if>
      <if test="major != null">
        #{major},
      </if>
      <if test="sex != null">
        #{sex},
      </if>
      <if test="avatar != null">
        #{avatar},
      </if>
      <if test="enable != null">
        #{enable},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="site.fsyj.timeaxis.entity.User">
    <!--@mbg.generated-->
    update t_user
    <set>
      <if test="email != null">
        email = #{email},
      </if>
      <if test="password != null">
        `password` = #{password},
      </if>
      <if test="name != null">
        `name` = #{name},
      </if>
      <if test="no != null">
        `no` = #{no},
      </if>
      <if test="major != null">
        major = #{major},
      </if>
      <if test="sex != null">
        sex = #{sex},
      </if>
      <if test="avatar != null">
        avatar = #{avatar},
      </if>
      <if test="enable != null">
        `enable` = #{enable},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="site.fsyj.timeaxis.entity.User">
    <!--@mbg.generated-->
    update t_user
    set email = #{email},
      `password` = #{password},
      `name` = #{name},
      `no` = #{no},
      major = #{major},
      sex = #{sex},
      avatar = #{avatar},
      `enable` = #{enable}
    where id = #{id}
  </update>
</mapper>